.tips {
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    min-height: 70vh;
    margin-top: 50px;
}